@model IEnumerable<AcademicXXI.ViewModel.ViewModel.StudyPlanViewModel>
@{
    ViewBag.Title = "Planes de Estudios";
}

@section css{

    <!--<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />-->
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <style>
        #frmNewStudyPlanUI, .loadAjax {
            display: none;
        }
        label.error {
            color: red;
        }
    </style>
}
<div class="row">
    <div class="col-md-6">
        <h2>Mantenimiento de Planes de Estudios</h2>
    </div>
    <div class="col-md-6">
        <button id="NewStudyPlan" class="btn btn-primary">Nuevo Plan de Estudio</button>
    </div>
</div>

<div id="DisplayData">
    @{Html.RenderPartial("_DisplayAllStudyPlan", Model);}

</div>

<div id="frmNewStudyPlanUI" title="Nuevo Plan de Estudio">

    @using (Html.BeginForm("Create", "StudyPlan", FormMethod.Post, new { @id = "FrmCreateStudyPlan" }))
    {
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.Label("Código",new {@for="Code" })
        @Html.TextBox("Code",null,new {@class= "form-control",@placeholder="COD-123", @mixlength = "5", @maxlength = "10" })
    </div>
    <div class="form-group">
        @Html.Label("Nombre", new { @for = "Name" })
        @Html.TextBox("Name", null, new { @class = "form-control", @mixlength = "5", @maxlength = "30" })
    </div>
    <div class="form-group text-right">
        <img class="loadAjax" src="~/Content/images/loadingAjax.gif" />
        <input type="submit" value="Registrar" id="BtnRegister" class="btn btn-success" />
    </div>
    <div class="form-group">
        <span id="Message"></span>
    </div>
    }
</div>

@section scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).on("ready", function () {
            var dialog = null;
            var $FrmCreateStudyPlan = $("#FrmCreateStudyPlan");
            var $spanMessage = $("span[id='Message']");
            var dataTable_config = {
                language: {
                    search: "Buscar",
                    paginate: {
                        first: "Primer",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de _MAX_ registros)",
                    lengthMenu: "Mostrar _MENU_ registros",
                    zeroRecords: "No se encontraron resultados",
                    EmptyTable: "Ningún dato disponible en esta tabla",
                }
            };
            $("#tblStudyPlan").dataTable(dataTable_config);

            dialog = $("#frmNewStudyPlanUI").dialog({
                autoOpen: false,
                height: 350,
                width: 350,
                modal: true,
                beforeClose: function () {
                    $FrmCreateStudyPlan.trigger("reset");
                    $spanMessage.empty().removeAttr('class');

                }
            });

            $("#NewStudyPlan").click(function () {
                dialog.dialog("open");
            });

            $FrmCreateStudyPlan.validate({
                rules: {
                    Code: { required: true, maxlength: 10 },
                    Name: { required: true, maxlength: 30 },
                }, messages: {
                    Code: { required: "Campo obligatorio", maxlength: "Código solo debe contener 10 caracteres" },
                    Name: { required: "Campo obligatorio", maxlength: "Nombre solo debe contener máximo 30 caracteres" },
                }, submitHandler: function (form) {
                    console.log($FrmCreateStudyPlan.serialize());
                    //Ajax Request
                    var $loadAjax = $(".loadAjax");
                    $.ajax({
                        url: $FrmCreateStudyPlan.attr("action"),
                        method: $FrmCreateStudyPlan.attr("method"),
                        data: $FrmCreateStudyPlan.serialize(),
                        dataType: "json",
                        success: function (data, status, jqXHR) {

                            $spanMessage.empty().removeAttr('class')
                                        .html(data.Messages)
                                        .addClass(data.Class);
                            $("#DisplayData").load('@Url.Action("AllStudyPlans", "StudyPlan", null, Request.Url.Scheme)', function () {
                                console.log("ReDraw jQuery DataTable");
                                $("#tblStudyPlan").dataTable(dataTable_config);
                            });
                        },
                        error: function (error, status, jqXHR) {
                            console.log(status);
                        }, beforeSend: function () {
                            $loadAjax.show()
                        }, complete: function () {
                            $loadAjax.hide()
                        }
                    })
                }

            });

        });
    </script>
}

