@model IEnumerable<AcademicXXI.ViewModel.ViewModel.StudentViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        JORGE LUIS
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisterNumber)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegisterNumber)
                    </td>

                    <td>
                        
                        @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id=item.Id })
                        
                    </td>
                </tr>
            }

        </table>

    </div>
</div>