@model IEnumerable<AcademicXXI.ViewModel.ViewModel.StudentViewModel>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th width="30%">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th width="30%">
                @Html.DisplayNameFor(model => model.DocumentID)
            </th>
            <th width="20%">
                @Html.DisplayNameFor(model => model.RegisterNumber)
            </th>

            <th width="20%">
                
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
            {
                foreach (var item in Model.OrderBy(o=>o.FirstName))
                {
                <tr>
                    <td width="30%">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td width="30%">
                        @Html.DisplayFor(modelItem => item.DocumentID)
                    </td>
                    <td width="20%">
                        @Html.DisplayFor(modelItem => item.RegisterNumber)
                    </td>

                    <td width="20%">
                        

                        <a href="@Url.Action("Edit","Student",new { id = item.Id })" title="Editar @item.FullName" class="btn btn-info">
                           <small>Editar</small>
                        </a>
                        <a href="#" class="btn btn-danger" onclick="alert('Contactar al administrador de sistema.')">
                            <small>Eliminar</small>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    No hay registro a mostrar.
                </td>

            </tr>
        }
    </tbody>
</table>



