@model IEnumerable<AcademicXXI.ViewModel.ViewModel.SubjectViewModel>

@{
    var title = ViewBag.StudyPlanViewModelObj;

    ViewBag.Title = title;
}

<div class="row">
    <div class="col-sm-6">
        <h2>Relación de asignaturas</h2>
        <small>Plan de estudio: <b>@ViewBag.StudyPlanViewModelObj</b></small>
    </div>

    <div class="col-sm-6">
        <button class="btn btn-primary" id="OpenNewSubjectModal">Crear Asignatura</button>
    </div>
</div>
<br />

<div id="DisplayData">
    @{Html.RenderPartial("_DisplayAllSubjectRelation", Model);}
</div>
<div id="frmUI" title="Crear asignatura">
    <div class="row" id="displayResultDiv">

    </div>
    <form id="frmNewSubject">

        <div class="form-group">
            <span>Plan de Estudio:</span> @ViewBag.StudyPlanViewModelObj
        </div>
        <div class="form-group" id="form-group-code">
            <input type="text" name="Code" placeholder="Código Asignatura" class="form-control" maxlength="7" />
        </div>
        <div class="form-group">
            <input type="text" name="Name" placeholder="Asignatura" class="form-control" maxlength="100" />
        </div>
        <div class="form-group">
            <input type="number" name="Credit" placeholder="Creditos" class="form-control" min="1" />
        </div>
        <div class="form-group" id="form-group-prerequisite-code">

            @Html.DropDownList("PrerequisiteCode", new SelectList(Model, "Code", "FullSubjectName"), "Prerrequisito", new { @class = "form-control" })
           
            <input type="hidden" id="StudyPCodeStr" name="StudyPCodeStr" value="@ViewBag.StudyPlanViewModelObj.Code" />
        </div>
        <hr />
        <div class="form-group">
            <input type="submit" name="btnRegister" class="btn btn-primary" value="Guardar" />
            <input type="button" id="btnClose" name="btnClose" class="btn btn-danger" value="Cancelar" />
        </div>
    </form>

</div>

@section css{
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        label.error{
            color:red;
        }
        #frmUI{
            display:none
        }
    </style>
}
@section scripts{

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script>
        var dataTable_config = {
            language: {
                search: "Buscar",
                paginate: {
                    first: "Primer",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                infoFiltered: "(filtrado de un total de _MAX_ registros)",
                lengthMenu: "Mostrar _MENU_ registros",
                zeroRecords: "No se encontraron resultados",
                EmptyTable: "Ningún dato disponible en esta tabla",


            }
        }
        $(document).on("ready", function () {
            

        $("#tblSubjectRelation").dataTable(dataTable_config);
        });
        $(function () {
            //JQuery UI
            var dialog = $("#frmUI").dialog({
                autoOpen: false,
                height: 'auto',
                width: 350,
                modal: true,
                beforeClose: function () {
                    ResetFormAndProperties();
                }
            });
            $("#OpenNewSubjectModal").click(function () {
                dialog.dialog("open");
            });
            $("#btnClose").click(function () {
                dialog.dialog("close");
            });

            //JQuery Validate
            $("#frmNewSubject").validate({
                rules: {
                    Code: { required: true, maxlength: 7 },
                    Name: { required: true, maxlength: 100 },
                    Credit: { required: true },
                },
                messages: {
                    Code: { required: "Campo obligatorio", maxlength: "Código solo debe contener 7 caracteres" },
                    Name: { required: "Campo obligatorio", maxlength: "Nombre solo debe contener máximo 100 caracteres" },
                    Credit: { required: "Campo obligatorio" },
                },
                submitHandler: function (form) {
                    $.ajax({
                        url: "@Url.Action("Create", "Subject")",
                        method: "post",
                        data: $("#frmNewSubject").serialize(),
                        dataType:"json",
                        success: function (data, status, jqXHR) {
                            var Data = JSON.parse(data);
                            
                            if (Data.Code == 1) {
                                SetDisplayResultUp("alert alert-dismissible alert-success",
                                "Asignatura agregada.", true)

                                $("#PrerequisiteCode").empty();
                                $("#PrerequisiteCode").append("<option value=''>Prerrequisito</option>");

                                $.each(Data.list, function (index, subject) {
                                    var option = "<option value=" + subject.Code + ">" + subject.Code + "-" + subject.Name + "</option>";
                                    $("#PrerequisiteCode").append(option);
                                });

                                var URL = '/Subject/GetAllSubjectRelation?splancode=' + $("#StudyPCodeStr").val()+'';
                                $("#DisplayData").load(URL, function (data) {
                                    $("#tblSubjectRelation").dataTable(dataTable_config);
                                });
                            }


                        },
                        error: function (jqXHR, status, error) {

                            switch (error) {
                                case "FullError":
                                    alert("Error...");
                                    break;
                                case "CodeExit":
                                    //Show error
                                    SetDisplayResultUp("alert alert-dismissible alert-danger",
                                        "El código ingresado ya existe en el sistema", false);
                                    $("#form-group-code").addClass("has-error");
                                    break;
                                default:
                                    alert(error);
                                    break;
                            }
                        }

                    })

                },
            });
        });
        //
        function SetDisplayResultUp(classes, text, resetCodeClass) {

            if (resetCodeClass) {
                $("#form-group-code").removeClass("has-error");
            }

            $("<div id='displayResult'></div>").appendTo("#displayResultDiv");
            $("#displayResult").empty();
            $("#displayResult")
                .removeAttr('class').attr('class', '')
                .addClass(classes)
                .text(text)
                .prepend("<button type='button' class='close' data-dismiss='alert'>&times;</button>");

        }
        function ResetFormAndProperties() {
            $("#frmNewSubject")[0].reset();
            $("#frmNewSubject input[type='text']").removeClass('error');
            $("#frmNewSubject input[type='number']").removeClass('error');
            $("#frmNewSubject label.error").remove();
            $("#displayResult").empty().removeAttr('class').attr('class', '');
            $("#form-group-code").removeClass("has-error");
        }

    </script>
}



